.box > *:not(.bar,.ul) {
  border: 2px solid rgb(96 139 168);
  border-radius: 5px;
  /* background-color: rgb(96 139 168 / 0.2); */
  /* width: '100%' */
  ;
}
.box2 .right {
  border: 2px solid rgb(96 139 168);
  border-radius: 5px;
  background-color: rgb(96 139 168 / 0.2);
  /*width: '100%'*/;
}
.box2 .left {
  border: 2px solid rgb(96 139 168);
  border-radius: 5px;
  background-color: rgb(96 139 168 / 0.2);
  /*width: '100%'*/;
}

.box {
  width: '100%';
  
  display: flex;
  flex-flow: row wrap;
}

.box2 {
  
  display: flex;
  flex-flow: row wrap;
}

.nav {
    --bs-nav-link-padding-x: 1rem;
    --bs-nav-link-padding-y: 0.5rem;
    --bs-nav-link-font-weight: ;
    --bs-nav-link-color: var(--bs-link-color);
    --bs-nav-link-hover-color: var(--bs-link-hover-color);
    --bs-nav-link-disabled-color: #6c757d;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}